{% extends 'base.html' %}
{% load static %}

{% block title %} Satipoff Page {% endblock %}


{% block content %}

<div class="container">
<!--    <div class="row headline">&lt;!&ndash; Begin Headline &ndash;&gt;-->

<!--        &lt;!&ndash; Slider Carousel-->
<!--       ================================================== &ndash;&gt;-->
<!--        <div class="span8">-->
<!--            <div class="flexslider">-->
<!--                <ul class="slides">-->
<!--                    <li><a href="gallery-single.htm"><img src="{% static 'img/gallery/slider-img-1.jpg' %}"-->
<!--                                                          alt="slider"/></a></li>-->
<!--                    <li><a href="gallery-single.htm"><img src="{% static 'img/gallery/slider-img-1.jpg' %}"/></a></li>-->
<!--                    <li><a href="gallery-single.htm"><img src="{% static 'img/gallery/slider-img-1.jpg' %}"/></a></li>-->
<!--                    <li><a href="gallery-single.htm"><img src="{% static 'img/gallery/slider-img-1.jpg' %}"/></a></li>-->
<!--                    <li><a href="gallery-single.htm"><img src="{% static 'img/gallery/slider-img-1.jpg' %}"/></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Headline Text-->
<!--        ================================================== &ndash;&gt;-->
<!--        <div class="span4">-->
<!--            <h3>Welcome to Piccolo. <br/>-->
<!--                A Big Theme in a Small Package.</h3>-->
<!--            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium vulputate magna sit-->
<!--                amet blandit.</p>-->
<!--            <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor. In-->
<!--                sit-->
<!--                amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices.</p>-->
<!--            <a href="#"><i class="icon-plus-sign"></i>Read More</a>-->
<!--        </div>-->
<!--    </div>&lt;!&ndash; End Headline &ndash;&gt;-->

    <div class="row gallery-row"><!-- Begin Gallery Row -->
            <div class="span12">
                <h5 class="title-bg">Recent Work
                    <small>That we are most proud of</small>
                    <button class="btn btn-mini btn-inverse hidden-phone" type="button">View Portfolio</button>
                </h5>
                <!-- Gallery Thumbnails
                ================================================== -->

                    <div class="row clearfix no-margin">
                    {% for i in data %}
                        <ul class="gallery-post-grid holder">
                            <!-- Gallery Item 12 -->
                            <li class="span3 gallery-item" data-id="id-12" data-type="illustration video">
                                {% if i.photo %}
                                <span class="gallery-hover-4col hidden-phone hidden-tablet">
                                                <span class="gallery-icons">

                                                    <a href="{% url 'detail' i.pk %}"
                                                       class="item-zoom-link lightbox"
                                                       title="Custom Illustration" data-rel="prettyPhoto"></a>
                                                    <a href="{% url 'detail' i.pk %}" class="item-details-link"></a>
                                                </span>
                                            </span>

                                <a href="{% url 'detail' i.pk %}"><img src="{{ i.photo.url }}"
                                                                       alt="Gallery"></a>
                                <span class="project-details"><a href="{% url 'detail' i.pk %}">{{ i.title }}</a>{{ i.text|truncatewords:30 }}</span>
                                {% endif %}
                            </li>
                        </ul>
                    {% endfor %}
                    </div>
            </div>
        <div class="row"><!-- Begin Bottom Section -->
            <!-- Blog Preview
            ================================================== -->


        </div><!-- End Bottom Section -->

    </div> <!-- End Container -->
</div>

{% endblock %}

